{% extends 'base.html' %}

{% block header %}

    <h1>{% block title %}Delete account {% endblock %}</h1>
{% endblock %}



{% block content %}
    <div class="container">
        <p>Please enter every {{ num }} letter from the following sentence,
            exluding whitespace and puncation. E.g. every 2nd of "This is an
            example" -> "Tiiaeape"</p>
        <h2>{{ phrase }}</h2>
        <form method="post">

            {{ form.confirmation.label }}
            {{ form.confirmation }}
            {{ form.submit(class_="btn-danger") }}
        </form>
    </div>

{% endblock %}