{% extends 'static/html/base.html' %}
{% block header %}
<script src="{{ url_for('static', filename='js/lists.js') }}"></script>
{% endblock %}
{% block content %}
    {{ lists }}
<table class="tg" id="liststable">

    <thead id="listhead">
    <tr>
        <th class="tg-0pky">name</th>
        <th class="tg-0pky"></th>
    </tr>
    </thead>
    <tbody id="listbody">
    {% for list in lists  %}
    <tr id ="shopping-list-{{ list.id }}">
    <td>list.name</td>
    <td>
        <button type="button" id="delete-{{ list.id }}" data-id="{{ list.id }}">🗑</button>
    </td>

    </tr>
    {% endfor %}

    </tbody>
</table>
    <p>
    <form action="{{ url_for('lists') }}" method="post">
              <fieldset class="form-field">
              {{ form.list_name.label }}
              {{ form.list_name(size=20) }}
          </fieldset>

        {{ form.hidden_tag() }}
        {{ form.submit(value='create') }}
    </form>
    </p>
{% endblock %}