{% extends 'static/html/base.html' %}
{% block header %}
<script src="../js/list.js"></script>
{% endblock %}
{% block content %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg" id="listtable">
<thead id="listhead">
  <tr>
    <th class="tg-0pky">item</th>
    <th class="tg-0pky">quantity</th>
    <th class="tg-0pky">shop</th>
    <th class="tg-0pky"> <br></th>
    <th class="tg-0pky"> </th>
  </tr>
</thead>
<tbody id="listbody">
</tbody>
</table>
 <form>
  <label for="name">First name:</label><br>
  <input type="text" id="inputname" name="name"><br>
     <label for="lname">Quantity:</label><br>
  <input type="text" id="inputquantity" name="quantity">
  <label for="lname">Shop:</label><br>
  <input type="text" id="inputshop" name="lname">
  <input type="button" value="+" onclick="handleItemSubmit()">

</form>
{% endblock %}