<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="../static/js/lists.js"></script>
<table class="tg" id="liststable">

    <thead id="listhead">
    <tr>
        <th class="tg-0pky">name</th>
        <th class="tg-0pky"></th>
    </tr>
    </thead>
    <tbody id="listbody">
    </tbody>
</table>
<form>
    <label for="name"></label><br>
    <input type="text" id="inputname" name="name">List name<br>
    <input type="button" value="+" onclick="handleListSubmit()">

</form>

</body>
</html>