<!DOCTYPE html>
<html lang="en">
<header>
    <link rel="stylesheet" type="text/css" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/css/dist/css/solarized-dark-theme.min.css">
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
{% block header  %}
{%  endblock %}
</header>

{% block title %}Poschtiserver{% endblock %}

{% block navbar %}
        <nav class="navbar navbar-default">
            <h1>Poschtiserver</h1>
            <ul>
                {% if not current_user.is_anonymous %}
                    <li><a href="{{ url_for('lists') }}">Your lists</a>
                    <li><a href="{{ url_for('token') }}">Tokens</a>
                    <li><a href="{{ url_for('settings') }}">Settings</a>

                    <li>
                        <a href="{{ url_for('logout') }}"><span>{{ session['user_name'] }}</span>
                            Log Out</a>
                        {% else %}
                    <li><a href="{{ url_for('register') }}">Regi⭐</a>
                    <li><a href="{{ url_for('login') }}">Log In</a>
                {% endif %}
            </ul>
        </nav>
{% endblock %}

{% block content %}
    <div class="container">

        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>

{% endblock %}

</html>