{% extends 'base.html' %}
{% block header %}
    <script src="../../../static/js/list.js"></script>
{% endblock %}
{% block content %}
    <div class="container">

    <table class="tg" id="listtable">
        <thead id="listhead">
        <tr>
            <th class="tg-0pky">item</th>
            <th class="tg-0pky">quantity</th>
            <th class="tg-0pky">shop</th>
            <th class="tg-0pky"><br></th>
            <th class="tg-0pky"></th>
        </tr>
        </thead>
        <tbody id="listbody">
        {% for item in items %}
            <tr id="shopping-item-{{ item.id }}"
                data-name="{{ item.name }}"
                data-shop="{{ item.shop }}"
                data-quantity="{{ item.quantity }}"

                    {% if item.done %}
                        data-done="1"
                    {% else %}
                data-done="0"
                    {% endif %}

            >
                <td>
                    {% if item.done %}
                        <s>
                    {% endif %}
                    {{ item.name }}
                    {% if item.done %}
                        </s>
                    {% endif %}
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.shop }}</td>

                <td>
                    <button type="button" class="btn btn-success" id="check-{{ item.id }}" data-id="{{ item.id }}">✅</button>
                </td>

                <td>
                    <button type="button" class="btn btn-danger" id="delete-{{ item.id }}" data-id="{{ item.id }}">🗑</button>
                </td>

            </tr>

        {% endfor %}

        </tbody>
    </table>
    <p>
    <form action="{{ url_for('single_list', list_id=list_id) }}" method="post">
        <fieldset class="form-field">
            {{ form.item.label }}
            {{ form.item(size=20) }}
            {{ form.quantity.label }}
            {{ form.quantity(size=20) }}
            {{ form.shop.label }}
            {{ form.shop(size=20) }}
        </fieldset>

        {{ form.hidden_tag() }}
        {{ form.submit(value='create', class_='btn-success') }}
    </form>
    </p>
    </div>
{% endblock %}